Repository univ-lehavre/amarre: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck, svelte-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: '*.{js,ts,svelte,json,md,css,html,yml,yaml}'
      stage_fixed: true
      run: pnpm prettier --write {staged_files}
    lint:
      glob: '*.{js,ts,svelte}'
      stage_fixed: true
      run: pnpm eslint --fix {staged_files}
    typecheck:
      glob: '*.{ts,svelte}'
      run: pnpm typecheck
    svelte-check:
      glob: '*.svelte'
      run: pnpm svelte:check

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

pre-push:
  piped: true
  commands:
    refresh:
      run: pnpm install
    test:
      run: pnpm test

feat(ui): personnaliser la couleur des actions en attente
  static/theme.css
Due: format

feat(ui): auto-dismiss des alertes après 5 secondes
  src/lib/ui/Signup.svelte
Due: format, lint, typecheck, svelte-check

feat(ui): refonte navigation avec sections Compléter, Suivre, Retrouver
  src/lib/ui/Complete.svelte
  src/lib/ui/Retrieve.svelte
  src/lib/ui/TopNavbar.svelte
  src/routes/+page.svelte
Due: format, lint, typecheck, svelte-check

fix(api): limiter téléchargement aux instruments form et validation_finale
  src/lib/server/services/surveys.ts
  tests/lib/server/services/surveys.test.ts
Due: format, lint, typecheck

fix: suppression des tests de connectivité
  docs/MICROSERVICES_AUDIT.md
  scripts/generate-openapi.ts
  scripts/manage-baselines.ts
  src/lib/server/net/online-check.ts
  src/routes/api/v1/health/online/+server.ts
  src/routes/api/v1/health/status/+server.ts
  src/routes/health/+page.svelte
  src/routes/health/+page.ts
  static/api/openapi.json
  tests/lib/server/net/online-check.test.ts
  tests/routes/api/v1/health/online/+server.test.ts
  tests/routes/api/v1/health/status/+server.test.ts
Due: format, lint, typecheck, svelte-check

refactor(types): renommer les variables REDCap en français
  src/lib/types/api/surveys.ts
Due: format, lint, typecheck

refactor(api): adapter les requêtes REDCap aux nouveaux noms de variables
  src/lib/server/services/surveys.ts
Due: format, lint, typecheck

refactor(ui): adapter le composant Request aux nouveaux noms de variables
  src/lib/ui/Request.svelte
Due: format, lint, typecheck, svelte-check

test: adapter les données mockées aux nouveaux noms de variables REDCap
  tests/routes/api/v1/surveys/list.test.ts
Due: format, lint, typecheck

chore: ajouter changeset pour le renommage des variables REDCap
  .changeset/rename-redcap-variables.md
Due: format

fix(auth): ignorer les erreurs Appwrite 401 pour les utilisateurs non connectés
  src/hooks.server.ts
Due: format, lint, typecheck

chore: ignorer les fichiers REDCap XML et backups
  .gitignore
Due: none

chore: ajouter changeset pour le fix d'authentification Appwrite
  .changeset/fix-appwrite-auth-error.md
Due: format

Update README to include future developments section
  README.md
Due: format

fix(redcap): handle API error responses and rename composante_complete
  docs/IMPLEMENTATION_GUIDE.md
  scripts/generate-openapi.ts
  src/lib/server/redcap/index.ts
  src/lib/server/services/surveys.ts
  src/lib/types/api/surveys.ts
  src/lib/ui/Request.svelte
  static/api/openapi.json
  tests/routes/api/v1/surveys/list.test.ts
  tests/routes/api/v1/surveys/new.test.ts
Due: format, lint, typecheck, svelte-check

refactor(ui): reorganize requests display based on final validation status
  .changeset/grumpy-groups-hope.md
  src/routes/+page.svelte
Due: format, lint, typecheck, svelte-check

feat(ui): add footer with funder logos
  src/lib/ui/Footer.svelte
  src/lib/ui/MainTitle.svelte
  src/routes/+page.svelte
  static/logos/Logo_AMARRE.png
  static/logos/Logo_AMARRE_only.png
  static/logos/cptmp.png
  static/logos/eunicoast.png
  static/logos/france-2030.png
  static/logos/region-normandie.png
  static/logos/ulhn.svg
Due: format, lint, typecheck, svelte-check

feat(ui): add alternating background colors to sections
  src/lib/ui/Administrate.svelte
  src/lib/ui/Collaborate.svelte
  src/lib/ui/Complete.svelte
  src/lib/ui/Follow.svelte
  src/lib/ui/Footer.svelte
  src/lib/ui/HorizontalScroller.svelte
  src/lib/ui/TopNavbar.svelte
  src/routes/+page.svelte
  static/theme.css
Due: format, lint, typecheck, svelte-check

fix(ui): update funder logos and footer background
  src/lib/ui/Footer.svelte
  static/logos/france-2030.png
  static/logos/region-normandie.jpg
  static/logos/region-normandie.png
Due: format, lint, typecheck, svelte-check

feat(ui): add white background to header and navbar
  src/lib/ui/MainTitle.svelte
  src/lib/ui/TopNavbar.svelte
  static/theme.css
Due: format, lint, typecheck, svelte-check

fix: base composante/labo signing requirements on invitation type
  src/lib/server/services/surveys.ts
  src/lib/types/api/surveys.ts
  src/lib/ui/Request.svelte
Due: format, lint, typecheck, svelte-check

test: add invitation_type to survey list test mock data
  tests/routes/api/v1/surveys/list.test.ts
Due: format, lint, typecheck

fix(ui): update RGPD consent modal wording and add link to form
  src/lib/ui/CreateRequest.svelte
Due: format, lint, typecheck, svelte-check
